@font-face {
	font-family: 'electricboots';
	src: url('ELECTRICBOOTS.ttf') format('opentype');
}

div {
	display: block;
}

.font-load{
    font-family: 'electricboots';
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }

.style1 {
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}

h1, p, div, a{
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
}
